

body {
    background: rgb(85, 82, 82);
    color: #666666;
    font-family: "Open Sans", sans-serif;
  }
  
  a {
    color: #2dc997;
    text-decoration: none;
  }
  
  a:hover, a:focus {
    color: #2dca98;
    outline: none;
    text-decoration: none;
  }
  
  p {
    padding: 0;
    margin: 0 0 30px 0;
  }
  
  
  
  nav .active {
    background-color: #343a40 !important;;
  }

  .navbar {
    text-transform: uppercase;
    font-weight: 400;
    font-family: Open sans-serif;
    text-transform: capitalize !important;
  }
  
  .navbar * {
    box-sizing: border-box;
    transition: all 0.3s ease;
  }
  
  .navbar a {
    padding: 0.5em 0.8em;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    text-decoration: none;
    font-size: 20px;
  }
  
  .navbar a::before,
  .navbar a::after {
    content: "";
    height: 12px;
    width: 12px;
    position: absolute;
    transition: all 0.35s ease;
    opacity: 0;
  }
  
  .navbar a::before {
    content: "";
    right: 0;
    top: 0;
    border-top: 3px solid #3e8914;
    border-right: 3px solid #2e640f;
    transform: translate(-100%, 50%);
  }
  
  .navbar a:after {
    content: "";
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #2e640f;
    border-left: 3px solid #3e8914;
    transform: translate(100%, -50%);
  }
  
  .navbar a:hover:before,
  .navbar a:hover:after {
    transform: translate(0, 0);
    opacity: 1;
  }
  
  .navbar a:hover {
    color: #3e9af0;
  }

  .heading{
    padding-top: 125px;
  }

  .content-list{
    padding-left: 465px;
    padding-right: 360px;
    text-align: left;
  }


  .first_page-container {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.71);
    text-align: center;
  }


